.myspan{
    background-color: aqua;
   /* transform: translate(300px, 200px);
    transform: translateX(300px);
    transform: translateY(200px);
    transform: rotate(-45deg); */
    margin: 200px;
    transform: scale(1, 10);

}